<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro</title>
  <link rel="stylesheet" href="style/cadastroStyle.css">
</head>
<body>
  <div class="register-container">
    <h2>Criar Conta</h2>
    <form action="http://127.0.0.1:8001/cadastro" method="post" id="cadastro-form">
      <div class="form-group">
        <label for="fullname">Nome completo</label>
        <input type="text" id="fullname" name="fullname" required />
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="user">Usuário</label>
        <input type="text" id="user" name="user" required />
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit" class="register-button">Cadastrar</button>
    </form>
    <div class="footer-text">
      Já tem uma conta? <a href="index.html">Entrar</a>
    </div>
  </div>
</body>
<script src="scripts/cadastro.js"></script>
</html>
