<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="style/indexStyle.css">
</head>

<body>
  <div class="login-container">
    <h2>Login</h2>
    <form action="http://127.0.0.1:8001/login" method="post" id="login-form">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit" class="login-button">Entrar</button>
    </form>
    <div class="footer-text">
      Não tem uma conta? <a href="cadsatro.html">Cadastre-se</a>
    </div>
  </div>
</body>
<script src="scripts/index.js"></script>

</html>
